.imglogotinder {
  position: absolute;
  left: 0.25rem;
  animation: moveLogo 1.5s ease-in-out forwards, opacity 0.75s ease-in-out forwards;
  transform: translateY(2rem);
  opacity: 0;
  /* Vous pouvez ajuster la durée et la fonction de temporisation selon vos préférences */
}

.buttongradient {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 2px solid white;
  border-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.buttongradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


.imglogofruitz {
  position: absolute;
  left: 0.5rem;
  animation: moveLogo 1.5s ease-in-out 0.25s forwards, opacity 0.75s ease-in-out 0.25s forwards;
  transform: translateY(2rem);
  opacity: 0;
  /* Vous pouvez ajuster la durée et la fonction de temporisation selon vos préférences */
}

.imglogobadoo {
  position: absolute;
  left: 0.25rem;
  animation: moveLogo 1.5s ease-in-out 0.5s forwards, opacity 0.75s ease-in-out 0.5s forwards;
  transform: translateY(2rem);
  opacity: 0;
  /* Vous pouvez ajuster la durée et la fonction de temporisation selon vos préférences */
}

.imglogomeetic {
  position: absolute;
  left: 0.25rem;
  animation: moveLogo 1.5s ease-in-out 0.75s forwards, opacity 0.75s ease-in-out 0.75s forwards;
  transform: translateY(2rem);
  opacity: 0;
  /* Vous pouvez ajuster la durée et la fonction de temporisation selon vos préférences */
}

.imglogohappn {
  position: absolute;
  left: 0.25rem;
  animation: moveLogo 1.5s ease-in-out 1s forwards, opacity 0.75s ease-in-out 1s forwards;
  transform: translateY(2rem);
  opacity: 0;
  /* Vous pouvez ajuster la durée et la fonction de temporisation selon vos préférences */
}

.imglogohinge {
  position: absolute;
  left: 0.25rem;
  animation: moveLogo 1.5s ease-in-out 1.25s forwards, opacity 0.75s ease-in-out 1.25s forwards;
  transform: translateY(2rem);
  opacity: 0;
  /* Vous pouvez ajuster la durée et la fonction de temporisation selon vos préférences */
}

@keyframes moveLogo {
  from {
    transform: translateY(2rem);
  }

  to {
    transform: translateY(0.25rem);
  }
}


@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.flotter:nth-child(1) {
  animation: flottement 8s infinite ease-in-out 0.25s;
  /* Animation infinie de 4 secondes */
}

.flotter:nth-child(2) {
  animation: flottement 8s infinite ease-in-out 0.5s;
  /* Animation infinie de 4 secondes */
}

.flotter:nth-child(3) {
  animation: flottement 8s infinite ease-in-out 0.75s;
  /* Animation infinie de 4 secondes */
}

.flotter:nth-child(4) {
  animation: flottement 8s infinite ease-in-out 1s;
  /* Animation infinie de 4 secondes */
}

.flotter:nth-child(5) {
  animation: flottement 8s infinite ease-in-out 1.25s;
  /* Animation infinie de 4 secondes */
}

.flotter:nth-child(6) {
  animation: flottement 8s infinite ease-in-out 1.5s;
  /* Animation infinie de 4 secondes */
}

.logotinderrr {
  animation: flottement2 8s infinite ease-in-out;
  /* Animation infinie de 4 secondes */
}

.cardanim {
  animation: flottement 8s infinite ease-in-out 1.75s;
}

.cardanim2 {
  animation: flottement 8s infinite ease-in-out 2.25s;
}

.cardanim3 {
  animation: flottement 8s infinite ease-in-out 2.75s;
}

.vrailogo {
  transform: rotate(-15deg);
}

@keyframes flottement {

  0%,
  100% {
    transform: translate(0, 0);
    /* Position initiale */
  }

  25% {
    transform: translate(2px, 2px);
    /* Déplacement en haut à droite */
  }

  50% {
    transform: translate(-4px, 6px);
    /* Déplacement vers le haut à gauche */
  }

  75% {
    transform: translate(4px, -2px);
    /* Déplacement vers le bas à droite */
  }
}



@keyframes flottement2 {

  0%,
  100% {
    transform: translate(0, 0);
    /* Position initiale */
  }

  25% {
    transform: translate(10px, 10px);
    /* Déplacement en haut à droite */
  }

  50% {
    transform: translate(-20px, 30px);
    /* Déplacement vers le haut à gauche */
  }

  75% {
    transform: translate(20px, -10px);
    /* Déplacement vers le bas à droite */
  }
}






.rotatehand {
  animation: rotationhandd 4s ease infinite;
}

.rotatehand2 {
  animation: rotationhandd 4s ease 0.3s infinite;
}

.rotatehand3 {
  animation: rotationhandd 4s ease 0.6s infinite;
}


@keyframes rotationhandd {
  0% {
    transform: rotate(0deg);
  }

  3% {
    transform: rotate(-9deg);
  }

  6% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


svg {
  animation: rotationsvg 4s ease 0.6s infinite;
}


@keyframes rotationsvg {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(2deg);
  }

  30% {
    transform: rotate(-2deg);
  }

  45% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}